html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para que ocupe toda la pantalla */
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* Contenido principal que empuja el footer hacia abajo */
.content {
  flex: 1;
}
